@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: "montserrat-latin-400";
    src: url("../fonts/montserrat-latin-400-normal.ttf");
}

@font-face {
    font-family: "montserrat-latin-500";
    src: url("../fonts/montserrat-latin-500-normal.ttf");
}

@font-face {
    font-family: "montserrat-latin-600";
    src: url("../fonts/montserrat-latin-600-normal.ttf");
}


@font-face {
    font-family: "montserrat-latin-700";
    src: url("../fonts/montserrat-latin-700-normal.ttf");
}


@font-face {
    font-family: "montserrat-latin-800";
    src: url("../fonts/montserrat-latin-800-normal.ttf");
}

@font-face {
    font-family: "montserrat-latin-900";
    src: url("../fonts/montserrat-latin-900-normal.ttf");
}



html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

main {
    width: 100%;
    overflow: hidden;
}

.wrapper-one {
    position: relative;
    width: 100vw;
    height: 300vh;
    background-color: rgb(0, 0, 0);
}



.wrapper-two {
    position: relative;
    width: 100vw;
    height: 300vh;
    background-color: rgb(0, 0, 0);
}

.nav-link,
.mobile-navlink {
    display: inline-block;
    ;
}

/* Menu Icon Styles */
.menu-icon {
    width: 30px;
    height: 20px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 20;
    cursor: pointer;
}

.bars {
    width: 30px;
    height: 4px;
    background: #000;
    position: relative;
}

.bars::before,
.bars::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #000;
    transition: all 0.3s ease;
}

.bars::before {
    top: -8px;
}

.bars::after {
    top: 8px;
}

.mobile-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    bottom: -10px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

.mobile-link:hover::after {
    transform: scaleX(1);
}

/* Close Button Styles */
.close-btn div::before,
.close-btn div::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    transition: background 0.5s ease;
}

.close-btn div::before {
    transform: rotate(-45deg);
}

.close-btn div::after {
    transform: rotate(45deg);
}

.close-btn:hover div::before,
.close-btn:hover div::after {
    background: #ff3333;
}


.circle-text {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: bold;
    transform-origin: center;
}

.circle-text:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.circle-text span {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: rgb(36, 36, 36);
}


.banner h5 {
    -webkit-text-stroke: 2px gray;
    color: transparent;
    transition: all 0.5s;

}

.banner h5:hover {
    color: #000;
}

.banner h4:hover {
    -webkit-text-stroke: 2px gray;
    color: transparent;
    transition: all 0.5s;
}



.btn2 {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #fff;
    z-index: 1;
    background: #212121;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

.btn2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #fff;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    transition: all 250ms
}

.btn2:hover {
    color: #212121;
}

.btn2:hover::before {
    width: 100%;
}


/* From Uiverse.io by thisSasha */
.btn {
    padding: 15px 25px;
    border: 0;
    border-radius: 15px;
    color: #ffffff;
    z-index: 1;
    background: transparent;
    border: 1px solid #000;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

.btn:hover {
    color: #e8e8e8;
}

.btn:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.btn:active {
    transform: scale(80%);
}

.about-right h4 span {
    color: gray;
}

.menu-icon {
    display: none;
}

.menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    margin-bottom: -2px;
    background: linear-gradient(to right, #181919, #fff);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease-in-out;
}

.menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.mobile-menu {
    overflow: hidden;
}


::selection {
    background-color: #D8DDE7;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

}

.elem {
    text-transform: capitalize;
}

.elem .icons i {
    transition: all 0.5s;
}

.elem .overly {
    transform: scaleY(0);
    padding: 0;
    transition: all 0.5s;
}

.elem:hover>.overly {
    height: 100%;
    padding: 10px;
    transform: scaleY(1);
    background-color: #000;
    color: #fff;
    transition: all 0.5s;
}

.elem:hover>.icons i {
    color: rgb(255, 255, 255);
    display: inline-block;
    transform: rotate(45deg);
    transition: all 0.5s;
}

.elem:hover .link-text {
    z-index: 20;
    color: #fff;
    opacity: 1;
    transition: all 0.5s ease;
}

.project-container {
    position: relative;
}

.link-text {
    z-index: 10;
    opacity: 1;
    transition: color 0.5s ease, z-index 0.5s ease;
}

.elem:hover .link-text {
    z-index: 20;
    color: #fff;
    transition: color 0.5s ease, z-index 0.5s ease;
}


/* prject showcase */
/* .project-container {
    font-family: "HelveticaNeueBlack";
} */

.contact-tittle h2 {
    color: gray;
}

label.error {
    color: rgb(234, 57, 57);
    font-size: 14px;
    margin-top: 5px;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    position: relative;
    animation: fadeIn 0.5s;
}


.skill-section {
    font-family: "montserrat-latin-600";

}

.project-container {
    font-family: "montserrat-latin-500";
}

.follow-me-section {
    font-family: "montserrat-latin-400";
}


.mobile-menu {

    transition: all 0.6s ease-in;
}

.project-section::-webkit-scrollbar {
    display: none;
}


@media screen and (max-width: 1000px) {
    .menu {
        display: none !important;
    }

    .menu-icon {
        display: block !important;
    }



    .active-nav {
        right: 0;
        transition: all 0.6s ease-in;
    }
}

@media screen and (max-width:850px) {
    .about-section>.flex {
        flex-direction: column;
    }


}

@media (max-width:825px) {
    form {
        flex-direction: column !important;
        display: flex !important;
    }
}

@media (max-width:550px) {
    .elem {
        width: 350px !important;
    }

}