@import url('https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.nav-link {
    display: inline-block;
    ;
}


.banner h5 {
    -webkit-text-stroke: 2px gray;
    color: transparent;
    transition: all 0.5s;

}

.banner h5:hover {
    color: #000;
}

.banner h4:hover {
    -webkit-text-stroke: 2px gray;
    color: transparent;
    transition: all 0.5s;
}



.btn2 {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #fff;
    z-index: 1;
    background: #212121;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.btn2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #fff;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(255, 255, 255, 0.27);
    transition: all 250ms
}

.btn2:hover {
    color: #212121;
}

.btn2:hover::before {
    width: 100%;
}


/* From Uiverse.io by thisSasha */
.btn {
    padding: 15px 25px;
    border: 0;
    border-radius: 15px;
    color: #ffffff;
    z-index: 1;
    background: transparent;
    border: 1px solid #000;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

.btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

.btn:hover {
    color: #e8e8e8;
}

.btn:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.btn:active {
    transform: scale(80%);
}

.about-right h4 span {
    color: gray;
}

#humbuger {
    display: none;
}

::selection {
    background-color: #D8DDE7;
}

.elem {
    text-transform: capitalize;
}

.elem .icons i {
    transition: all 0.5s;
}

.elem .overly {
    transform: scaleY(0);
    padding: 0;
    transition: all 0.5s;
}

.elem:hover>.overly {
    height: 100%;
    padding: 10px;
    transform: scaleY(1);
    background-color: #000;
    color: #fff;
    transition: all 0.5s;
}

.elem:hover>.icons i {
    color: rgb(255, 255, 255);
    display: inline-block;
    transform: rotate(45deg);
    transition: all 0.5s;
}

.elem:hover .link-text {
    z-index: 20;
    color: #fff;
    opacity: 1;
    transition: all 0.5s ease;
}

.link-text {
    z-index: 10;
    opacity: 1;
    transition: color 0.5s ease, z-index 0.5s ease;
}

.elem:hover .link-text {
    z-index: 20;
    color: #fff;
    transition: color 0.5s ease, z-index 0.5s ease;
}

.contact-tittle h2 {
    color: gray;
}

@media screen and (max-width: 1000px) {
    .menu {
        display: none !important;
    }

    #humbuger {
        display: block !important;
    }
}

@media screen and (max-width:850px) {
    .about-section>.flex {
        flex-direction: column;
    }


}

@media (max-width:825px) {
    form {
        flex-direction: column !important;
        display: flex !important;
    }
}

@media (max-width:550px) {
    .elem {
        width: 350px !important;
    }

}